In [2]:
import numpy as np
import geopy
import pandas as pd
import math
from uszipcode import SearchEngine, SimpleZipcode, Zipcode

In [25]:
infers1 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer1_horizon_0.csv')
infers2 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer1_horizon_180.csv')
infers3 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer1_vertical_270.csv')
infers4 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer1_vertical_90.csv')
infers5 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer2_horizon_0.csv')
infers6 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer2_horizon_180.csv')
infers7 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer2_vertical_270.csv')
infers8 = pd.read_csv('/Users/richardryu/Desktop/Cantwo/w210/output_yolo_infer2_vertical_90.csv')

In [7]:
search = SearchEngine()

def csv_par(df):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
    return df

# lat/long rounded to 4 decimals
def csv_par2(df):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
        df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
        df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
    return df

#7/5 adjusting coordinates by 'xcenter' position [L, C, R]. 0.013 mile = ~20 meters = 0.0002
# currently only accounts for the 0 angle. need to account for 'angle'
def csv_par3(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
        df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
        df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        if df.loc[i, 'xcenter'] <= 0.333333:
            df.loc[i, 'detect_loc'] = 'L'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + delta/2
            df.loc[i, 'new_long'] = df.loc[i, 'long']
        elif df.loc[i, 'xcenter'] > 0.666666:
            df.loc[i, 'detect_loc'] = 'R'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat']
            df.loc[i, 'new_long'] = df.loc[i, 'long']
        else:
            df.loc[i, 'detect_loc'] = 'C'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] - delta/2
            df.loc[i, 'new_long'] = df.loc[i, 'long']
    return df

#7/5 adjusting coordinates by 'xcenter' position [L, C, R]. 0.013 mile = ~20 meters = 0.0002
# Rachael's version
def csv_par4(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
        df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
        df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*float(df.loc[i, 'angle'])))
        df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*float(df.loc[i, 'angle'])))
    return df

In [14]:
# 7/1 save df by zipcode in csv
def zip_df(df):
    for i in df["zipcode"].unique():
        temp_df = df[df["zipcode"] == i]
        temp_df.to_csv(i + '.csv', encoding = 'utf-8', index = False)

In [9]:
output1 = csv_par(infers1)
output2 = csv_par(infers2)
output3 = csv_par(infers3)
output4 = csv_par(infers4)
output5 = csv_par(infers5)
output6 = csv_par(infers6)
output7 = csv_par(infers7)
output8 = csv_par(infers8)

In [10]:
final_df = pd.concat([output1, output2, output3, output4, output5, output6, output7, output8], ignore_index=True)

In [15]:
zip_df(final_df)

,imgname,lat,long,angle,class,className,confidence,xcenter,ycenter,width,hight,zipcode
0,39.73368049--104.97593-180.jpg,39.733680,-104.975930,180,0,lamp,0.839024,0.930469,0.413281,0.104687,0.717188,80203
1,39.73368049--104.97593-180.jpg,39.733680,-104.975930,180,2,fh,0.538536,0.167969,0.641406,0.020313,0.042188,80203
2,39.7384365--104.98423149999999-180.jpg,39.738436,-104.984231,180,0,lamp,0.666667,0.450781,0.463281,0.045312,0.357812,80264
3,39.73515405--104.9812955-180.jpg,39.735154,-104.981296,180,3,nopark,0.540758,0.539844,0.561719,0.026562,0.029687,80203
4,39.73514--104.9541227-180.jpg,39.735140,-104.954123,180,0,lamp,0.790933,0.675000,0.470313,0.087500,0.496875,80206
...,...,...,...,...,...,...,...,...,...,...,...,...
1614,39.741977--104.8951311-180.jpg,39.741977,-104.895131,180,0,lamp,0.762553,0.239063,0.389844,0.134375,0.729688,80220
1615,39.72687762--104.9070956-180.jpg,39.726878,-104.907096,180,0,lamp,0.898048,0.057031,0.440625,0.107813,0.578125,80220
1616,39.72712031--104.9438433-180.jpg,39.727120,-104.943843,180,0,lamp,0.939023,0.757812,0.423438,0.121875,0.640625,80206
1617,39.72712031--104.9438433-180.jpg,39.727120,-104.943843,180,3,nopark,0.597259,0.504687,0.590625,0.028125,0.043750,80206
1618,39.72928098--104.9081571-180.jpg,39.729281,-104.908157,180,0,lamp,0.732453,0.190625,0.427344,0.146875,0.576563,80220

In [16]:
# rounded version
r_output1 = csv_par2(infers1)
r_output2 = csv_par2(infers2)
r_output3 = csv_par2(infers3)
r_output4 = csv_par2(infers4)
r_output5 = csv_par2(infers5)
r_output6 = csv_par2(infers6)
r_output7 = csv_par2(infers7)
r_output8 = csv_par2(infers8)

In [17]:
final_df2 = pd.concat([r_output1, r_output2, r_output3, r_output4, r_output5, r_output6, r_output7, r_output8], ignore_index=True)

In [18]:
zip_df(final_df2)

In [20]:
# angle modified coordinates
a_output1 = csv_par4(infers1, 0.0002)
a_output2 = csv_par4(infers2, 0.0002)
a_output3 = csv_par4(infers3, 0.0002)
a_output4 = csv_par4(infers4, 0.0002)
a_output5 = csv_par4(infers5, 0.0002)
a_output6 = csv_par4(infers6, 0.0002)
a_output7 = csv_par4(infers7, 0.0002)
a_output8 = csv_par4(infers8, 0.0002)

In [21]:
final_df3 = pd.concat([a_output1, a_output2, a_output3, a_output4, a_output5, a_output6, a_output7, a_output8], ignore_index=True)

In [22]:
zip_df(final_df3)

In [42]:
# 7/8 2nd zipcode
def csv_par5(df):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
        df.loc[i, 'zipcode2'] = result[1].zipcode
    return df

In [44]:
# 7/8 save df by zipcode in csv
def zip_df2(df):
    zip1 = list(df['zipcode'].unique())
    zip2 = list(df['zipcode2'].unique())
    all_zip = list(set(zip1 + zip2))
    for i in all_zip:
        temp_df = df[df["zipcode"] == i]
        temp_df2 = df[df["zipcode2"] == i]
        temp_final = pd.concat([temp_df, temp_df2])
        temp_final.drop_duplicates()
        temp_final.to_csv(i + '.csv', encoding = 'utf-8', index = False)

In [24]:
infers1

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode,new_lat,new_long
0,39.74879271--105.02297879999999-0.jpg,3,0.436579,0.124219,0.567187,0.045312,0.046875,39.7488,-105.0230,0,80204,39.7490,-105.0230
1,39.77412428--105.0159814-0.jpg,2,0.887750,0.415625,0.728906,0.034375,0.064062,39.7741,-105.0160,0,80211,39.7743,-105.0160
2,39.77415137--105.01891609999998-0.jpg,0,0.907404,0.450781,0.499219,0.164062,0.557813,39.7742,-105.0189,0,80211,39.7744,-105.0189
3,39.77415137--105.01891609999998-0.jpg,2,0.856585,0.860156,0.746094,0.032813,0.054688,39.7742,-105.0189,0,80211,39.7744,-105.0189
4,39.763224--105.00516359999999-0.jpg,0,0.878048,0.191406,0.372656,0.267188,0.739062,39.7632,-105.0052,0,80211,39.7634,-105.0052
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,39.73684731--104.9876376-0.jpg,2,0.713935,0.695312,0.665625,0.018750,0.031250,39.7368,-104.9876,0,80264,39.7370,-104.9876
3078,39.78216811--105.02622-0.jpg,3,0.503650,0.225781,0.585938,0.020313,0.021875,39.7822,-105.0262,0,80212,39.7824,-105.0262
3079,39.751205999999996--105.0249996-0.jpg,0,0.811093,0.076563,0.360156,0.150000,0.464063,39.7512,-105.0250,0,80211,39.7514,-105.0250
3080,39.76752569--105.0514081-0.jpg,0,0.616398,0.290625,0.507031,0.059375,0.351562,39.7675,-105.0514,0,80212,39.7677,-105.0514
3081,39.72612284--105.0323514-0.jpg,0,0.952682,0.450781,0.437500,0.176563,0.500000,39.7261,-105.0324,0,80219,39.7263,-105.0324

In [25]:
temp_result = csv_par5(infers1)

In [26]:
temp_result

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode,new_lat,new_long,zipcode2
0,39.74879271--105.02297879999999-0.jpg,3,0.436579,0.124219,0.567187,0.045312,0.046875,39.748793,-105.022979,0,80204,39.7490,-105.0230,80290
1,39.77412428--105.0159814-0.jpg,2,0.887750,0.415625,0.728906,0.034375,0.064062,39.774124,-105.015981,0,80211,39.7743,-105.0160,80212
2,39.77415137--105.01891609999998-0.jpg,0,0.907404,0.450781,0.499219,0.164062,0.557813,39.774151,-105.018916,0,80211,39.7744,-105.0189,80212
3,39.77415137--105.01891609999998-0.jpg,2,0.856585,0.860156,0.746094,0.032813,0.054688,39.774151,-105.018916,0,80211,39.7744,-105.0189,80212
4,39.763224--105.00516359999999-0.jpg,0,0.878048,0.191406,0.372656,0.267188,0.739062,39.763224,-105.005164,0,80211,39.7634,-105.0052,80202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,39.73684731--104.9876376-0.jpg,2,0.713935,0.695312,0.665625,0.018750,0.031250,39.736847,-104.987638,0,80264,39.7370,-104.9876,80203
3078,39.78216811--105.02622-0.jpg,3,0.503650,0.225781,0.585938,0.020313,0.021875,39.782168,-105.026220,0,80212,39.7824,-105.0262,80211
3079,39.751205999999996--105.0249996-0.jpg,0,0.811093,0.076563,0.360156,0.150000,0.464063,39.751206,-105.025000,0,80211,39.7514,-105.0250,80204
3080,39.76752569--105.0514081-0.jpg,0,0.616398,0.290625,0.507031,0.059375,0.351562,39.767526,-105.051408,0,80212,39.7677,-105.0514,80211
3081,39.72612284--105.0323514-0.jpg,0,0.952682,0.450781,0.437500,0.176563,0.500000,39.726123,-105.032351,0,80219,39.7263,-105.0324,80204

In [45]:
zip_df2(temp_result)

In [52]:
pm = pd.read_csv('parking_meters.csv')
pm

,ZONE,SD_TRANS_ALLMETERS_P_AREA,SUB_AREA,POLE,POLE_TYPE,POLE_STATUS,METER_TYPE,HOUSING_TYPE,VAULT_CAPACITY,MECH_KEY,...,TERMINAL_INSTALL_DATE,STREET_SIDE,STREET_DIRECTION,STREET_ADDRESS,DOME_COLOUR,BLOCK_NUMBER,ENFORCEMENT_ROUTE,MAINTENANCE_ROUTE,CARRIER,WARRANTY_EXPIRY
0,COL,Logan St - COL,1400 N Logan St,LO-1434,None,Active,MK 3,795,-60,None,...,2017-01-27 00:00:00,None,None,N Logan St,None,1400,None,TECH 205,T-Mobile,2012-06-20 00:00:00
1,COL,E Colfax Ave - COL,2400 E Colfax Ave,EC-2430,None,Active,MK 3,795,-60,None,...,2017-12-12 00:00:00,None,None,E Colfax Ave,None,2400,None,TECH 220,T-Mobile,2011-02-24 00:00:00
2,CCC,N Broadway -CCC,900 N Broadway,BN-916,None,Active,MK 5,795,-60,None,...,2017-02-16 00:00:00,None,None,N Broadway,None,900,None,TECH 208,Verizon,2017-12-14 00:00:00
3,CAPN,E 17th Ave - CAPN,300 E 17th Ave,E17-315,None,Active,MK 3,795,-50,None,...,2018-11-20 00:00:00,None,None,E 17th Ave,None,300,None,TECH 205,T-Mobile,2011-11-08 00:00:00
4,CCC,W 12th Ave - CCC,100 W 12th Ave,W12-112,None,Active,MK 3,795,-50,None,...,2017-11-09 00:00:00,None,None,W 12th Ave,None,100,None,TECH 208,T-Mobile,2011-03-10 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6139,OVN,14th St - OVN,600 14th St,14-615,None,Active,MK 5,795,-50,None,...,2019-11-19 00:00:00,None,None,14th St,None,600,None,TECH 222,T-Mobile,2016-05-26 00:00:00
6140,OVN,Wazee St - OVN,1600 Wazee St,WZ-1613,None,Active,MK 3,795,-50,None,...,2017-10-06 00:00:00,None,None,Wazee St,None,1600,None,TECH 220,T-Mobile,2011-06-02 00:00:00
6141,AUR,Rio Ct - AUR,1400 N Rio Ct,RC-1405,None,Active,MK 3,795,-60,None,...,2017-03-03 00:00:00,None,None,N Rio Ct,None,1400,None,TECH 220,T-Mobile,2013-12-18 00:00:00
6142,MED,Clermont St - MED,900 Clermont St,CL-933,None,Active,MK 3,795,-60,None,...,2012-11-27 00:00:00,None,None,Clermont St,None,900,None,TECH 220,T-Mobile,2011-05-26 00:00:00
6143,COL,E Colfax Ave - COL,1900 E Colfax Ave,EC-1920,None,Active,MK 3,795,-60,None,...,2011-06-16 00:00:00,None,None,E Colfax Ave,None,1900,None,TECH 220,T-Mobile,2012-06-16 00:00:00

In [18]:
# parking meters
search = SearchEngine()
pm = pd.read_csv('parking_meters.csv')
# class 0- lamp, class 1- sign-h, class 2- fh, class 3-nopark, class 4-stop, class 5- pm
pm_ff = pd.DataFrame(columns=['lat', 'long', 'zipcode', 'zipcode2', 'class'])
for i in range(len(pm)):
    result = search.by_coordinates(pm.loc[i, 'LATITUDE'], pm.loc[i, 'LONGITUDE'], radius=2)
    pm_ff.loc[i, 'lat'] = pm.loc[i, 'LATITUDE']
    pm_ff.loc[i, 'long'] = pm.loc[i, 'LONGITUDE']
    pm_ff.loc[i, 'zipcode'] = result[0].zipcode
    pm_ff.loc[i, 'zipcode2'] = result[1].zipcode
    pm_ff.loc[i, 'class'] = 5

In [19]:
pm_ff

          lat     long zipcode zipcode2 class
0     39.7395 -104.982   80264    80203     5
1     39.7401 -104.958   80206    80218     5
2      39.731 -104.987   80203    80264     5
3     39.7433 -104.983   80264    80203     5
4     39.7352 -104.989   80264    80203     5
...       ...      ...     ...      ...   ...
6139  39.7431 -104.994   80264    80202     5
6140  39.7515     -105   80202    80264     5
6141  39.7393 -105.007   80204    80290     5
6142  39.7317 -104.935   80206    80220     5
6143  39.7399 -104.964   80218    80206     5

[6144 rows x 5 columns]

In [69]:
# two zipcode version
tz_output1 = csv_par5(infers1)
tz_output2 = csv_par5(infers2)
tz_output3 = csv_par5(infers3)
tz_output4 = csv_par5(infers4)
tz_output5 = csv_par5(infers5)
tz_output6 = csv_par5(infers6)
tz_output7 = csv_par5(infers7)
tz_output8 = csv_par5(infers8)

In [70]:
final_df4 = pd.concat([tz_output1, tz_output2, tz_output3, tz_output4, tz_output5, tz_output6, tz_output7, tz_output8], ignore_index=True)

In [79]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df4 = final_df4.drop(columns = ["className"])

In [80]:
# concat of parking meters csv and modified final_df4
yuri = pd.concat([new_final_df4, pm_ff])

In [82]:
zip_df2(yuri)

In [83]:
yuri

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode,zipcode2
0,39.74879271--105.02297879999999-0.jpg,3,0.436579,0.124219,0.567187,0.045312,0.046875,39.7488,-105.023,0,80204,80290
1,39.77412428--105.0159814-0.jpg,2,0.887750,0.415625,0.728906,0.034375,0.064062,39.7741,-105.016,0,80211,80212
2,39.77415137--105.01891609999998-0.jpg,0,0.907404,0.450781,0.499219,0.164062,0.557813,39.7742,-105.019,0,80211,80212
3,39.77415137--105.01891609999998-0.jpg,2,0.856585,0.860156,0.746094,0.032813,0.054688,39.7742,-105.019,0,80211,80212
4,39.763224--105.00516359999999-0.jpg,0,0.878048,0.191406,0.372656,0.267188,0.739062,39.7632,-105.005,0,80211,80202
...,...,...,...,...,...,...,...,...,...,...,...,...
6139,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7431,-104.994,NaN,80264,80202
6140,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7515,-105,NaN,80202,80264
6141,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7393,-105.007,NaN,80204,80290
6142,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7317,-104.935,NaN,80206,80220
6143,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7399,-104.964,NaN,80218,80206

In [85]:
# 7/7 working example of reverse_geocoding api from Google geocoding API
# pip install -U googlemaps
import googlemaps

In [118]:
gmaps = googlemaps.Client(key = 'use your API enabled key')

In [113]:
zipcode80002 = pd.read_csv('80002.csv')

In [114]:
lat1 = zipcode80002["lat"][0].astype(float)
long1 = zipcode80002["long"][0].astype(float)

In [119]:
reverse_geocode_result = gmaps.reverse_geocode((lat1, long1), result_type = "postal_code")

In [120]:
reverse_geocode_result

[{'address_components': [{'long_name': '80212',
    'short_name': '80212',
    'types': ['postal_code']},
   {'long_name': 'Denver',
    'short_name': 'Denver',
    'types': ['locality', 'political']},
   {'long_name': 'Colorado',
    'short_name': 'CO',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'Denver, CO 80212, USA',
  'geometry': {'bounds': {'northeast': {'lat': 39.7988519, 'lng': -105.034574},
    'southwest': {'lat': 39.74395, 'lng': -105.0630589}},
   'location': {'lat': 39.7752563, 'lng': -105.0498966},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 39.7988519, 'lng': -105.034574},
    'southwest': {'lat': 39.74395, 'lng': -105.0630589}}},
  'place_id': 'ChIJ_8fcE5yHa4cRfbPCIJjzidE',
  'postcode_localities': ['Denver', 'Wheat Ridge'],
  'types': ['postal_code']}]

In [2]:
#7/11 trying cos/sin modification on coordinates depending on angles
def csv_par4(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
#         df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
#         df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*float(df.loc[i, 'angle'] -90)))
        df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*float(df.loc[i, 'angle'] -90)))
    return df

In [9]:
# sin/cos version
sc_output1 = csv_par4(infers1, 0.0002)
sc_output2 = csv_par4(infers2, 0.0002)
sc_output3 = csv_par4(infers3, 0.0002)
sc_output4 = csv_par4(infers4, 0.0002)
sc_output5 = csv_par4(infers5, 0.0002)
sc_output6 = csv_par4(infers6, 0.0002)
sc_output7 = csv_par4(infers7, 0.0002)
sc_output8 = csv_par4(infers8, 0.0002)

In [11]:
final_df5 = pd.concat([sc_output1, sc_output2, sc_output3, sc_output4, sc_output5, sc_output6, sc_output7, sc_output8], ignore_index=True)

In [19]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df5 = final_df5.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])

In [26]:
# concat of parking meters csv and modified final_df5
mosaic = pd.concat([new_final_df5, new_pm_ff], ignore_index=True)

In [27]:
mosaic.loc[3559]

imgname       39.78458758--105.02873799999999-270.jpg
class                                               3
confidence                                   0.511164
xcenter                                      0.384375
ycenter                                      0.586719
width                                        0.021875
hight                                       0.0390625
lat                                           39.7846
long                                         -105.029
angle                                             270
zipcode                                         80212
new_lat                                       39.7846
new_long                                     -105.029
Name: 3559, dtype: object

In [ ]:
df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*float(df.loc[i, 'angle'])))
df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*float(df.loc[i, 'angle'])))

In [28]:
39.7846 + (0.0002 * math.cos((math.pi / 180) * float(270)))

39.7846

In [ ]:
39.7846

In [33]:
(math.cos((math.pi / 180)) * 0.0002 * 270) + 39.7846

39.83859177553844

In [23]:
mosaic[mosaic['angle'] == '270']

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode,new_lat,new_long
3559,39.78458758--105.02873799999999-270.jpg,3,0.511164,0.384375,0.586719,0.021875,0.039062,39.7846,-105.029,270,80212,39.784588,-105.028938
3560,39.7820225--105.02395790000001-270.jpg,4,0.650949,0.498437,0.567969,0.025000,0.029687,39.782,-105.024,270,80211,39.782022,-105.024158
3561,39.75921833--105.02992009999998-270.jpg,3,0.674911,0.469531,0.583594,0.023438,0.042188,39.7592,-105.03,270,80211,39.759218,-105.030120
3562,39.75949034--105.0416577-270.jpg,0,0.629935,0.058594,0.449219,0.117188,0.748438,39.7595,-105.042,270,80212,39.759490,-105.041858
3563,39.75949034--105.0416577-270.jpg,4,0.496845,0.812500,0.562500,0.031250,0.034375,39.7595,-105.042,270,80212,39.759490,-105.041858
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15812,39.73349893--104.9505885-270.jpg,0,0.571498,0.836719,0.491406,0.057813,0.357812,39.7335,-104.951,270,80206,39.733499,-104.950789
15813,39.76797506--104.98860559999999-270.jpg,0,0.708921,0.812500,0.452344,0.146875,0.723437,39.768,-104.989,270,80205,39.767975,-104.988806
15814,39.73077737--104.9116389-270.jpg,0,0.686005,0.210938,0.382812,0.146875,0.759375,39.7308,-104.912,270,80220,39.730777,-104.911839
15815,39.74577382--104.91878700000001-270.jpg,4,0.920111,0.085156,0.568750,0.054688,0.065625,39.7458,-104.919,270,80207,39.745774,-104.918987
15816,39.74002602--104.98270910000001-270.jpg,0,0.505612,0.377344,0.485938,0.042188,0.262500,39.74,-104.983,270,80264,39.740026,-104.982909

In [36]:
infers1

,imgname,class,confidence,xcenter,ycenter,width,hight
0,39.74879271--105.02297879999999-0.jpg,3,0.436579,0.124219,0.567187,0.045312,0.046875
1,39.77412428--105.0159814-0.jpg,2,0.887750,0.415625,0.728906,0.034375,0.064062
2,39.77415137--105.01891609999998-0.jpg,0,0.907404,0.450781,0.499219,0.164062,0.557813
3,39.77415137--105.01891609999998-0.jpg,2,0.856585,0.860156,0.746094,0.032813,0.054688
4,39.763224--105.00516359999999-0.jpg,0,0.878048,0.191406,0.372656,0.267188,0.739062
...,...,...,...,...,...,...,...
3077,39.73684731--104.9876376-0.jpg,2,0.713935,0.695312,0.665625,0.018750,0.031250
3078,39.78216811--105.02622-0.jpg,3,0.503650,0.225781,0.585938,0.020313,0.021875
3079,39.751205999999996--105.0249996-0.jpg,0,0.811093,0.076563,0.360156,0.150000,0.464063
3080,39.76752569--105.0514081-0.jpg,0,0.616398,0.290625,0.507031,0.059375,0.351562
3081,39.72612284--105.0323514-0.jpg,0,0.952682,0.450781,0.437500,0.176563,0.500000

In [ ]:
#7/11 trying cos/sin modification on coordinates depending on angles
def csv_par4(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
#         df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
#         df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*float(df.loc[i, 'angle'])))
        df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*float(df.loc[i, 'angle'])))
    return df

In [38]:
mosaic.loc[3559, 'lat'] + (0.0002 * math.cos((math.pi / 180)*float(270)))

39.78458758

In [39]:
(0.0002 * math.cos((math.pi / 180)*float(270)))

-3.67394039744206e-20

In [40]:
(0.0002 * math.cos((math.pi / 180)))

0.00019996953903127825

In [41]:
(0.0002 * math.cos((math.pi / 180))) * 270

0.05399177553844513

In [42]:
(0.0002 * math.cos((math.pi / 180))) * float(270)

0.05399177553844513

In [ ]:
zip_df2(mosaic)

In [43]:
#7/11 trying cos/sin modification on coordinates depending on angles
def csv_par6(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
#         df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
#         df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos(float(df.loc[i, 'angle'])))
        df.loc[i, 'new_long'] =df.loc[i, 'long'] + (delta * math.sin(float(df.loc[i, 'angle'])))
#         df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*float(df.loc[i, 'angle'])))
#         df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*float(df.loc[i, 'angle'])))
    return df

In [45]:
sc_output1 = csv_par6(infers1, 0.0002)
sc_output2 = csv_par6(infers2, 0.0002)
sc_output3 = csv_par6(infers3, 0.0002)
sc_output4 = csv_par6(infers4, 0.0002)
sc_output5 = csv_par6(infers5, 0.0002)
sc_output6 = csv_par6(infers6, 0.0002)
sc_output7 = csv_par6(infers7, 0.0002)
sc_output8 = csv_par6(infers8, 0.0002)

In [46]:
final_df6 = pd.concat([sc_output1, sc_output2, sc_output3, sc_output4, sc_output5, sc_output6, sc_output7, sc_output8], ignore_index=True)

In [47]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df6 = final_df6.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])

In [48]:
# concat of parking meters csv and modified final_df5
mosaic = pd.concat([new_final_df6, new_pm_ff], ignore_index=True)

In [8]:
# 7/1 save df by zipcode in csv
def zip_df(df):
    for i in df["zipcode"].unique():
        temp_df = df[df["zipcode"] == i]
        temp_df.to_csv(i + '.csv', encoding = 'utf-8', index = False)

In [55]:
zip_df(mosaic)

In [56]:
mosaic

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode,new_lat,new_long
0,39.74879271--105.02297879999999-0.jpg,3,0.436579,0.124219,0.567187,0.045312,0.046875,39.7488,-105.023,0,80204,39.748993,-105.022979
1,39.77412428--105.0159814-0.jpg,2,0.887750,0.415625,0.728906,0.034375,0.064062,39.7741,-105.016,0,80211,39.774324,-105.015981
2,39.77415137--105.01891609999998-0.jpg,0,0.907404,0.450781,0.499219,0.164062,0.557813,39.7742,-105.019,0,80211,39.774351,-105.018916
3,39.77415137--105.01891609999998-0.jpg,2,0.856585,0.860156,0.746094,0.032813,0.054688,39.7742,-105.019,0,80211,39.774351,-105.018916
4,39.763224--105.00516359999999-0.jpg,0,0.878048,0.191406,0.372656,0.267188,0.739062,39.7632,-105.005,0,80211,39.763424,-105.005164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23753,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7431,-104.994,NaN,80264,NaN,NaN
23754,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7515,-105,NaN,80202,NaN,NaN
23755,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7393,-105.007,NaN,80204,NaN,NaN
23756,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7317,-104.935,NaN,80206,NaN,NaN
23757,NaN,5,NaN,NaN,NaN,NaN,NaN,39.7399,-104.964,NaN,80218,NaN,NaN

In [1]:
#7/12 modified function
def csv_par7(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
#         df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
#         df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        if df.loc[i, 'xcenter'] <= 0.333333:
            df.loc[i, 'detect_loc'] = 'L'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos(float(df.loc[i, 'angle'])))
            df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin(float(df.loc[i, 'angle'])))
        elif df.loc[i, 'xcenter'] > 0.666666:
            df.loc[i, 'detect_loc'] = 'R'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] - (delta * math.cos(float(df.loc[i, 'angle'])))
            df.loc[i, 'new_long'] = df.loc[i, 'long'] - (delta * math.sin(float(df.loc[i, 'angle'])))
        else:
            df.loc[i, 'detect_loc'] = 'C'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat']
            df.loc[i, 'new_long'] = df.loc[i, 'long']
    return df

In [7]:
zc_output1 = csv_par7(infers1, 0.0002)
zc_output2 = csv_par7(infers2, 0.0002)
zc_output3 = csv_par7(infers3, 0.0002)
zc_output4 = csv_par7(infers4, 0.0002)
zc_output5 = csv_par7(infers5, 0.0002)
zc_output6 = csv_par7(infers6, 0.0002)
zc_output7 = csv_par7(infers7, 0.0002)
zc_output8 = csv_par7(infers8, 0.0002)

In [9]:
final_df7 = pd.concat([zc_output1, zc_output2, zc_output3, zc_output4, zc_output5, zc_output6, zc_output7, zc_output8], ignore_index=True)

In [11]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df7 = final_df7.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])

In [12]:
# concat of parking meters csv and modified final_df5
mosaic2 = pd.concat([new_final_df7, new_pm_ff], ignore_index=True)

In [14]:
zip_df(mosaic2)

In [16]:
# 7/12 trying with smaller deltas per Rachael's suggestion
xc_output1 = csv_par7(infers1, 0.0001)
xc_output2 = csv_par7(infers2, 0.0001)
xc_output3 = csv_par7(infers3, 0.0001)
xc_output4 = csv_par7(infers4, 0.0001)
xc_output5 = csv_par7(infers5, 0.0001)
xc_output6 = csv_par7(infers6, 0.0001)
xc_output7 = csv_par7(infers7, 0.0001)
xc_output8 = csv_par7(infers8, 0.0001)

In [17]:
final_df8 = pd.concat([xc_output1, xc_output2, xc_output3, xc_output4, xc_output5, xc_output6, xc_output7, xc_output8], ignore_index=True)

In [18]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df8 = final_df8.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])
mosaic3 = pd.concat([new_final_df8, new_pm_ff], ignore_index=True)

In [20]:
zip_df(mosaic3)

In [21]:
# 7/12 trying with even smaller deltas per Rachael's suggestion
wc_output1 = csv_par7(infers1, 0.00005)
wc_output2 = csv_par7(infers2, 0.00005)
wc_output3 = csv_par7(infers3, 0.00005)
wc_output4 = csv_par7(infers4, 0.00005)
wc_output5 = csv_par7(infers5, 0.00005)
wc_output6 = csv_par7(infers6, 0.00005)
wc_output7 = csv_par7(infers7, 0.00005)
wc_output8 = csv_par7(infers8, 0.00005)

In [22]:
final_df9 = pd.concat([wc_output1, wc_output2, wc_output3, wc_output4, wc_output5, wc_output6, wc_output7, wc_output8], ignore_index=True)

In [23]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df9 = final_df9.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])
mosaic4 = pd.concat([new_final_df9, new_pm_ff], ignore_index=True)

In [24]:
zip_df(mosaic4)

In [7]:
#7/12 modified function
def csv_par8(df, delta):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
#         df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
#         df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
        if df.loc[i, 'xcenter'] <= 0.333333:
            df.loc[i, 'detect_loc'] = 'L'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] + (delta * math.cos((math.pi / 180)*(float(df.loc[i, 'angle'])-90)))
            df.loc[i, 'new_long'] = df.loc[i, 'long'] + (delta * math.sin((math.pi / 180)*(float(df.loc[i, 'angle'])-90)))
        elif df.loc[i, 'xcenter'] > 0.666666:
            df.loc[i, 'detect_loc'] = 'R'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat'] - (delta * math.cos((math.pi / 180)*(float(df.loc[i, 'angle']) -90)))
            df.loc[i, 'new_long'] = df.loc[i, 'long'] - (delta * math.sin((math.pi / 180)*(float(df.loc[i, 'angle']) -90)))
        else:
            df.loc[i, 'detect_loc'] = 'C'
            df.loc[i, 'new_lat'] = df.loc[i, 'lat']
            df.loc[i, 'new_long'] = df.loc[i, 'long']
    return df

In [9]:
# 7/12 trying with even smaller deltas per Rachael's suggestion
qc_output1 = csv_par8(infers1, 0.0001)
qc_output2 = csv_par8(infers2, 0.0001)
qc_output3 = csv_par8(infers3, 0.0001)
qc_output4 = csv_par8(infers4, 0.0001)
qc_output5 = csv_par8(infers5, 0.0001)
qc_output6 = csv_par8(infers6, 0.0001)
qc_output7 = csv_par8(infers7, 0.0001)
qc_output8 = csv_par8(infers8, 0.0001)

In [10]:
final_df10 = pd.concat([qc_output1, qc_output2, qc_output3, qc_output4, qc_output5, qc_output6, qc_output7, qc_output8], ignore_index=True)

In [11]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df10 = final_df10.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])
mosaic5 = pd.concat([new_final_df10, new_pm_ff], ignore_index=True)

In [15]:
zip_df(mosaic5)

In [20]:
# 7/12 csv_par8 with 0.00005 delta
tc_output1 = csv_par8(infers1, 0.00005)
tc_output2 = csv_par8(infers2, 0.00005)
tc_output3 = csv_par8(infers3, 0.00005)
tc_output4 = csv_par8(infers4, 0.00005)
tc_output5 = csv_par8(infers5, 0.00005)
tc_output6 = csv_par8(infers6, 0.00005)
tc_output7 = csv_par8(infers7, 0.00005)
tc_output8 = csv_par8(infers8, 0.00005)

In [21]:
final_df11 = pd.concat([tc_output1, tc_output2, tc_output3, tc_output4, tc_output5, tc_output6, tc_output7, tc_output8], ignore_index=True)

In [22]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df11 = final_df11.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])
mosaic6 = pd.concat([new_final_df11, new_pm_ff], ignore_index=True)

In [24]:
zip_df(mosaic6)

In [26]:
# 7/12 csv_par8 with 0.0002 delta
yc_output1 = csv_par8(infers1, 0.0002)
yc_output2 = csv_par8(infers2, 0.0002)
yc_output3 = csv_par8(infers3, 0.0002)
yc_output4 = csv_par8(infers4, 0.0002)
yc_output5 = csv_par8(infers5, 0.0002)
yc_output6 = csv_par8(infers6, 0.0002)
yc_output7 = csv_par8(infers7, 0.0002)
yc_output8 = csv_par8(infers8, 0.0002)

In [27]:
final_df12 = pd.concat([yc_output1, yc_output2, yc_output3, yc_output4, yc_output5, yc_output6, yc_output7, yc_output8], ignore_index=True)

In [28]:
# dropping "className" which is filled with NaN and is a duplicate of 'class'
new_final_df12 = final_df12.drop(columns = ["className"])
new_pm_ff = pm_ff.drop(columns = ["zipcode2"])
mosaic7 = pd.concat([new_final_df12, new_pm_ff], ignore_index=True)

In [30]:
zip_df(mosaic7)