In [1]:
import numpy as np
import geopy
import pandas as pd

In [3]:
infers1 = pd.read_csv('output_yolo_infer1_horizon_0.csv')
infers2 = pd.read_csv('output_yolo_infer1_horizon_180.csv')
infers3 = pd.read_csv('output_yolo_infer1_vertical_270.csv')
infers4 = pd.read_csv('output_yolo_infer1_vertical_90.csv')
infers5 = pd.read_csv('output_yolo_infer2_horizon_0.csv')
infers6 = pd.read_csv('output_yolo_infer2_horizon_180.csv')
infers7 = pd.read_csv('output_yolo_infer2_vertical_270.csv')
infers8 = pd.read_csv('output_yolo_infer2_vertical_90.csv')

In [45]:
from uszipcode import SearchEngine, SimpleZipcode, Zipcode
search = SearchEngine()

def csv_par(df):
    for i in range(len(df)):
        df.loc[i, 'lat'] = float(df.loc[i, 'imgname'].split('-')[0])
        df.loc[i, 'long'] = float(df.loc[i, 'imgname'].split('-')[2]) * -1.0
        df.loc[i, 'angle'] = df.loc[i, 'imgname'].split('-')[3][:-4]
        result = search.by_coordinates(df.loc[i, 'lat'], df.loc[i, 'long'], radius=3)
        df.loc[i, 'zipcode'] = result[0].zipcode
        df.loc[i, 'lat'] = df.loc[i, 'lat'].astype(float).round(4)
        df.loc[i, 'long'] = df.loc[i, 'long'].astype(float).round(4)
    return df

In [27]:
# 7/1 save df by zipcode in csv
def zip_df(df):
    for i in df["zipcode"].unique():
        temp_df = df[df["zipcode"] == i]
        temp_df.to_csv(i + '.csv', encoding = 'utf-8', index = False)

In [46]:
output1 = csv_par(infers1)

In [47]:
output2 = csv_par(infers2)
output3 = csv_par(infers3)
output4 = csv_par(infers4)
output5 = csv_par(infers5)
output6 = csv_par(infers6)
output7 = csv_par(infers7)
output8 = csv_par(infers8)

In [48]:
final_df = pd.concat([output1, output2, output3, output4, output5, output6, output7, output8], ignore_index=True)

In [49]:
len(final_df)

17614

In [50]:
len(final_df["zipcode"].unique())

18

In [54]:
zip_df(final_df)

In [55]:
final_df["class"].unique()

array([3, 2, 0, 4, 1])

In [28]:
pm = pd.read_csv('parking_meters.csv')
# class 0- lamp, class 1- sign-h, class 2- fh, class 3-nopark, class 4-stop, class 5- pm
pm_ff = pd.DataFrame(columns=['LATITUDE', 'LONGITUDE', 'ZIPCODE', 'CLASS'])
for i in range(len(pm)):
    result = search.by_coordinates(pm.loc[i, 'LATITUDE'], pm.loc[i, 'LONGITUDE'], radius=1)
    pm_ff.loc[i, 'LATITUDE'] = pm.loc[i, 'LATITUDE']
    pm_ff.loc[i, 'LONGITUDE'] = pm.loc[i, 'LONGITUDE']
    pm_ff.loc[i, 'ZIPCODE'] = result[0].zipcode
    pm_ff.loc[i, 'CLASS'] = 5

In [29]:
pm_ff

     LATITUDE LONGITUDE ZIPCODE CLASS
0     39.7395  -104.982   80264     5
1     39.7401  -104.958   80206     5
2      39.731  -104.987   80203     5
3     39.7433  -104.983   80264     5
4     39.7352  -104.989   80264     5
...       ...       ...     ...   ...
6139  39.7431  -104.994   80264     5
6140  39.7515      -105   80202     5
6141  39.7393  -105.007   80204     5
6142  39.7317  -104.935   80206     5
6143  39.7399  -104.964   80218     5

[6144 rows x 4 columns]

In [31]:
pm_ff['LATITUDE'] = pm_ff['LATITUDE'].astype(float).round(4)

In [33]:
pm_ff['LONGITUDE'] = pm_ff['LONGITUDE'].astype(float).round(4)

In [34]:
pm_ff.to_csv('parking_meter_zip99.csv', encoding='utf-8', index=False)

In [35]:
infers = pd.read_csv('downtown_2500Img.csv')

In [36]:
infers

,imgname,class,confidence,xcenter,ycenter,width,hight
0,39.74061978--104.9893416-315.jpg,0,1,0.335156,0.454688,0.032813,0.412500
1,39.74061978--104.9893416-315.jpg,0,1,0.471094,0.580469,0.039062,0.192188
2,39.74528706--104.99208540000001-315.jpg,0,1,0.410156,0.421875,0.045312,0.637500
3,39.74528706--104.99208540000001-315.jpg,0,1,0.762500,0.392969,0.121875,0.748437
4,39.74528706--104.99208540000001-315.jpg,3,1,0.771094,0.543750,0.029687,0.040625
...,...,...,...,...,...,...,...
3472,39.75705913--104.97513719999999-315.jpg,0,1,0.939063,0.417969,0.121875,0.610937
3473,39.75023775--105.0047976-315.jpg,0,1,0.543750,0.503906,0.096875,0.229688
3474,39.74060365--104.99289809999999-315.jpg,0,1,0.442969,0.530469,0.020313,0.107812
3475,39.75009--105.0046024-135.jpg,0,1,0.924219,0.539062,0.045312,0.131250
3476,39.74099391--104.99646640000002-225.jpg,0,1,0.414844,0.537500,0.026562,0.134375

In [37]:
new_inf = csv_par(infers)

In [38]:
new_inf

,imgname,class,confidence,xcenter,ycenter,width,hight,lat,long,angle,zipcode
0,39.74061978--104.9893416-315.jpg,0,1,0.335156,0.454688,0.032813,0.412500,39.740620,-104.989342,315,80264
1,39.74061978--104.9893416-315.jpg,0,1,0.471094,0.580469,0.039062,0.192188,39.740620,-104.989342,315,80264
2,39.74528706--104.99208540000001-315.jpg,0,1,0.410156,0.421875,0.045312,0.637500,39.745287,-104.992085,315,80264
3,39.74528706--104.99208540000001-315.jpg,0,1,0.762500,0.392969,0.121875,0.748437,39.745287,-104.992085,315,80264
4,39.74528706--104.99208540000001-315.jpg,3,1,0.771094,0.543750,0.029687,0.040625,39.745287,-104.992085,315,80264
...,...,...,...,...,...,...,...,...,...,...,...
3472,39.75705913--104.97513719999999-315.jpg,0,1,0.939063,0.417969,0.121875,0.610937,39.757059,-104.975137,315,80205
3473,39.75023775--105.0047976-315.jpg,0,1,0.543750,0.503906,0.096875,0.229688,39.750238,-105.004798,315,80202
3474,39.74060365--104.99289809999999-315.jpg,0,1,0.442969,0.530469,0.020313,0.107812,39.740604,-104.992898,315,80264
3475,39.75009--105.0046024-135.jpg,0,1,0.924219,0.539062,0.045312,0.131250,39.750090,-105.004602,135,80202
3476,39.74099391--104.99646640000002-225.jpg,0,1,0.414844,0.537500,0.026562,0.134375,39.740994,-104.996466,225,80264

In [41]:
# class 0- lamp, class 1- sign-h, class 2- fh, class 3-nopark, class 4-stop, class 5- pm
infer_ff = pd.DataFrame(columns=['LATITUDE', 'LONGITUDE', 'ZIPCODE', 'CLASS'])
for i in range(len(new_inf)):
    result = search.by_coordinates(new_inf.loc[i, 'lat'], new_inf.loc[i, 'long'], radius=2)
    infer_ff.loc[i, 'LATITUDE'] = new_inf.loc[i, 'lat'].astype(float).round(4)
    infer_ff.loc[i, 'LONGITUDE'] = new_inf.loc[i, 'long'].astype(float).round(4)
    infer_ff.loc[i, 'ZIPCODE'] = result[0].zipcode
    infer_ff.loc[i, 'CLASS'] = new_inf.loc[i, 'class']

In [43]:
infer_ff["LATITUDE"][0]

39.7406

In [44]:
infer_ff.to_csv('downtown99.csv', encoding='utf-8', index=False)